<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Enter</title>
    <meta th:insert="fragments/common :: style">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <th:block th:if="${#request.getParameter('error') != null}">
        <div th:if="${session != null } and ${session['SPRING_SECURITY_LAST_EXCEPTION']}"
             th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
            <div class="alert alert-danger">
                Reason: <span th:text="${errorMsg}">Demo Invalid input</span>
            </div>
        </div>
    </th:block>
    <th:block th:if="${message != null}">
        <div th:class="${messageType == 'danger'} ? 'alert alert-danger' : 'alert alert-success'"
             th:text="${message}">Value
        </div>
    </th:block>

    <div th:insert="fragments/forms :: loging ('/login', 'false')"></div>
</div>
<meta th:insert="fragments/common :: javaScript">
</body>
</html>