<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<span><a href="/user">User list</a></span>
<br>
<br>
<p>
<form th:method="POST" th:action="@{/main}" enctype="multipart/form-data" th:object="${message}">
    <label for="text">Enter text: </label>
    <input type="text" th:field="*{text}" id="text">
    <label for="tag">Enter tag: </label>
    <input type="text" th:field="*{tag}" id="tag">

    <input type="file" name="file">
    <!--        <input type="text" name="text" id="text">-->
    <!--        <input type="text" name="tag" id="tag">-->
    <button type="submit">Add</button>
</form>
</p>
<br>
<form th:method="get" action="/main">
    <label for="filter">Find by tag:</label>
    <input type="text" name="filter" id="filter" placeholder="find by tag">
    <button type="submit">Find</button>
</form>

<p>All messages:</p>
<div th:each="message : ${messages}">
    <b th:text="${message.getId()}"></b>
    <span th:text="${message.getText()}"></span>
    <i th:text="${message.getTag()}"></i>
    <strong th:text="${message.getAuthorName()}"></strong>

    <img th:if="${message.filename != null}" th:src="@{/img/{filename}(filename=${message.filename})}">

</div>
</body>
</html>