<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Messages</title>
    <meta th:insert="fragments/common :: style"/>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <!--    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
    <div class="row g-3">
        <div class="col-md-6">
            <form th:method="get" action="/main" class="form-inline">
                <input class="form-control" type="text" name="filter" id="filter" placeholder="Search by tag"/>
                <button class="btn btn-primary ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new Message
    </a>
    <div th:class="${message.text != null} ? 'collapse show' : 'collapse'" id="collapseExample">
        <div class="mb-3 mt-3">
            <form th:method="POST" th:action="@{/main}" enctype="multipart/form-data" th:object="${message}">
                <div class="form-group">
                    <input th:class="${#fields.hasErrors('text')} ? 'form-control is-invalid' : 'form-control'"
                           type="text"
                           th:field="*{text}" id="text" placeholder="Enter message"
                           th:value="${message != null} ? ${message.text}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text error
                    </div>
                </div>
                <div class="form-group">
                    <input th:class="${#fields.hasErrors('tag')} ? 'form-control is-invalid' : 'form-control'"
                           type="text"
                           th:field="*{tag}" id="tag" placeholder="Tag"
                           th:value="${message != null} ? ${message.tag}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Tag error</div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

    <ul class="pagination mt-3">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Pages</a>
        </li>
        <!--    https://www.baeldung.com/spring-thymeleaf-pagination       -->
        <th:bloch th:if="${page.totalPages > 0}" class="pagination"
                  th:each="pageNumber : ${body}">
            <th:bloch th:if="${pageNumber - 1 == page.number}">
                <li th:class="${pageNumber - 1 == page.number} ? 'page-item active'">     <!--page.number + 1-->
                    <a class="page-link"
                       th:href="@{/main(size=${page.size}, page=${pageNumber - 1})}"
                       th:text="${pageNumber}"
                       tabindex="-1">
                    </a>
                </li>
            </th:bloch>
            <th:bloch th:if="${pageNumber  == -1}">
                <li th:class="${pageNumber  == -1} ? 'page-item disable'">     <!--page.number + 1-->
                    <a class="page-link"

                       th:text="'...'"
                       tabindex="-1">
                    </a>
                </li>
            </th:bloch>
            <th:bloch th:if="${pageNumber - 1 != page.number and pageNumber != -1}">
                <li th:class="'page-item'">     <!--page.number + 1-->
                    <a class="page-link"
                       th:href="@{/main(size=${page.size}, page=${pageNumber - 1})}"
                       th:text="${pageNumber}"
                       tabindex="-1">
                    </a>
                </li>
            </th:bloch>

        </th:bloch>
    </ul>
    <ul class="pagination mt-3">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Items on the page</a>
        </li>
        <!--    https://www.baeldung.com/spring-thymeleaf-pagination       -->
        <th:bloch th:if="${page.totalPages > 0}" class="pagination"
                  th:each="sz : ${size}">
            <li th:class="${sz == page.size} ? 'page-item active'">     <!--page.number + 1-->
                <a class="page-link"
                   th:href="@{/main(size=${sz}, page=${'0'})}"
                   th:text="${sz}"
                   tabindex="-1">
                </a>
            </li>
        </th:bloch>
    </ul>
    <th:block th:insert="fragments/messageList :: messageList (${url}, ${page})"></th:block>
    <!--    <th:block th:insert="fragments/messageList :: messageList"></th:block>-->
</div>
<meta th:insert="fragments/common :: javaScript"/>
</body>
</html>