<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta th:insert="fragments/common :: style">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <p>List of users</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users}">
            <tr>
                <td th:text="${user.username}"></td>
                <td>
                    <div th:each="role : ${user.roles}">
                        <div th:text="${role} "></div>
                    </div>
                </td>
                <td><a th:href="@{/user/{id}(id=${user.id})}">Edit</a></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<meta th:insert="fragments/common :: javaScript">
</body>
</html>