<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User editor</title>
    <meta th:insert="fragments/common :: style">
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <div>User editor:</div>
    <p>
    <form th:action="@{/user}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}" value="*{id}">
        <div class="row mb-3">
            <input type="text" th:field="*{username}" value="*{username}">
        </div>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:name="${role}" th:checked="${#arrays.contains(user.roles, role)}">
            <label th:text="${role}">role</label>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    </p>
</div>
<meta th:insert="fragments/common :: javaScript">
</body>
</html>